/*Style the logo */

#logo {
  display: flex;
  width: 25%;
  border-radius: 25%;
  border-style: outset;
  background-color: rgb(250, 229, 221);
}

header {
  padding-top: 25px;
  background-color: rgb(250, 229, 221);
}

#body {
  margin: 5%;
  background-color: coral;
  border-style: solid;
  border-width: thick;
  border-color: darkred;
}

.footer {
  background-color: rgb(250, 229, 221);
}

/* Style the headings */
h3 {
  text-align: center;
  color: rgb(102, 34, 34);
  /* red text */
  margin: 10px 0;
  /* Add some margin */
}

/* Style the row */
.row {
  display: flex;
  /* Use flexbox */
}

/* Style the columns */
.col-md-6 {
  flex: 50%;
  /* Take half of the available space */
}

.button {
  background-color: rgb(250, 229, 221);
  cursor: pointer;
  font-size: 24px;
  border: solid 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px;
}

.Generate {
  background-color: rgb(250, 229, 221);
  cursor: pointer;
  font-size: 35px;
  border: solid 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px;
}

h2 {
  display: flex;
  justify-content: center;
  border-bottom: thick double #89CFF0;
  margin: 30px;
  font-size: 30px;
}

h1 {
  background-color: rgb(250, 229, 221);
  font-size: 40px;
  font-weight: bold;
  height: 100px;
}

.container {
  color: hsl(200, 23%, 8%);
  background-color: coral;
}

p {
  justify-content: center;
  display: flex;
  border-bottom: thick double #89a4f0;
  margin: 70px;
  font-size: 40px;
  font-style: oblique;
  font-weight: 600;
}

p1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 80px;
}

p2 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 15px;
}

img {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 15%;
  border-style: groove;
  box-shadow: 10px 10px 5px #333;
}

#cocktailButton {

  cursor: pointer;
  font-size: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 5px 5px 10px;
}

#cocktail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.nutrition-label {
  margin-top: 20px;
  font-size: 25px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
}

li {
  list-style-type: none;
  justify-content: center;
  font-size: 30px;
}

.Generate:hover,
#cocktailButton:hover {
  background: #89a4f0;
  transform: rotate(3deg);
}

h1 {
  padding-top: 20px;
  color: black;
  font-family: serif;
  font-style: italic;
}

d {
  font-style: italic;
  font-family: sans-serif;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  margin-right: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(86, 86, 210);
  border-bottom: thick;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 15px;
}

#box {
  background-color: rgb(250, 229, 221);
  height: auto;
  width: 1000px;
  border: 2px solid;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  section {
    width: 100%;
  }

  #box {
    width: 100%;
  }
}

.special-diets {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}