 /*Style the logo */
 #logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 25%;
  border-style: outset;
}

/* Style the headings */
h3 {
  color: white;
  /* White text */
  margin: 10px 0;
  /* Add some margin */
}

/* Style the container */
.container {
  background-color: rgb(1, 9, 26);
  /* Dark background */
  padding: 20px;
  /* Add some padding */
}

/* Style the row */
.row {
  display: flex;
  /* Use flexbox */
}

/* Style the columns */
.col-md-6 {
  flex: 50%;
  /* Take half of the available space */
}

h2 {
  display: flex;
  justify-content: center;
  border-bottom: thick double #89CFF0;
  margin: 30px;
  font-size: 30px;
}

.tile {
  margin: 0;
  position: absolute;
  top: 25%;
  margin-left: 20%;
}

h1 {
  background-color: #89CFF0;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100px;
}

.container {
  color: #89CFF0;
}

/*End Options and Selections Section*/